*.egg-info
*.pyc
.Python
.cache
.coverage
.installed.cfg
.pytest_cache/
.python-version
.tox
bin
collmex.ini
coverage-report/
coverage.xml
develop-eggs
eggs
include/
lib
local.cfg
parts
testreport.xml
